In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [56]:
driver = webdriver.Chrome()
import numpy as np
# https://www.daraz.com.np/catalog/?q=shoes%20for%20man
title=[]
price=[]
sold_status=[]
discount_per=[]
province=[]
for j in range(1,103):
    print(f"{j} pages scrap sucessfully")
    driver.get(f"https://www.daraz.com.np/catalog/?page={j}&q=shoes%20for%20man")
    time.sleep(10)
    for i in range(1,41):
        try:
            title.append(driver.find_element(By.XPATH, f'/html/body/div[4]/div/div[2]/div[1]/div/div[1]/div[2]/div[{i}]/div/div/div[2]/div[2]').text)# title
        except:
            title.append(np.nan)
        try:
            price.append(driver.find_element(By.XPATH, f'/html/body/div[4]/div/div[2]/div[1]/div/div[1]/div[2]/div[{i}]/div/div/div[2]/div[3]/span').text)# price
        except:
            price.append(np.nan)
        try:
            sold_status.append(driver.find_element(By.XPATH, f'/html/body/div[4]/div/div[2]/div[1]/div/div[1]/div[2]/div[{i}]/div/div/div[2]/div[5]/span[1]/span[1]').text)# sold status
        except:
            sold_status.append(np.nan)
        try:
            discount_per.append(driver.find_element(By.XPATH, f'/html/body/div[4]/div/div[2]/div[1]/div/div[1]/div[2]/div[{i}]/div/div/div[2]/div[4]/span').text)# discount percentage
        except:
            discount_per.append(np.nan)
        #/html/body/div[4]/div/div[2]/div[1]/div/div[1]/div[2]/div[39]/div/div/div[2]/div[4]/span
        try:
            province.append(driver.find_element(By.XPATH, f'/html/body/div[4]/div/div[2]/div[1]/div/div[1]/div[2]/div[{i}]/div/div/div[2]/div[5]/span[2]').text)# province
        except:
            province.append(np.nan)

driver.quit()

1 pages scrap sucessfully
2 pages scrap sucessfully
3 pages scrap sucessfully
4 pages scrap sucessfully
5 pages scrap sucessfully
6 pages scrap sucessfully
7 pages scrap sucessfully
8 pages scrap sucessfully
9 pages scrap sucessfully
10 pages scrap sucessfully
11 pages scrap sucessfully
12 pages scrap sucessfully
13 pages scrap sucessfully
14 pages scrap sucessfully
15 pages scrap sucessfully
16 pages scrap sucessfully
17 pages scrap sucessfully
18 pages scrap sucessfully
19 pages scrap sucessfully
20 pages scrap sucessfully
21 pages scrap sucessfully
22 pages scrap sucessfully
23 pages scrap sucessfully
24 pages scrap sucessfully
25 pages scrap sucessfully
26 pages scrap sucessfully
27 pages scrap sucessfully
28 pages scrap sucessfully
29 pages scrap sucessfully
30 pages scrap sucessfully
31 pages scrap sucessfully
32 pages scrap sucessfully
33 pages scrap sucessfully
34 pages scrap sucessfully
35 pages scrap sucessfully
36 pages scrap sucessfully
37 pages scrap sucessfully
38 pages scrap sucessfully
39 pages scrap sucessfully
40 pages scrap sucessfully
41 pages scrap sucessfully
42 pages scrap sucessfully
43 pages scrap sucessfully
44 pages scrap sucessfully
45 pages scrap sucessfully
46 pages scrap sucessfully
47 pages scrap sucessfully
48 pages scrap sucessfully
49 pages scrap sucessfully
50 pages scrap sucessfully
51 pages scrap sucessfully
52 pages scrap sucessfully
53 pages scrap sucessfully
54 pages scrap sucessfully
55 pages scrap sucessfully
56 pages scrap sucessfully
57 pages scrap sucessfully
58 pages scrap sucessfully
59 pages scrap sucessfully
60 pages scrap sucessfully
61 pages scrap sucessfully
62 pages scrap sucessfully
63 pages scrap sucessfully
64 pages scrap sucessfully
65 pages scrap sucessfully
66 pages scrap sucessfully
67 pages scrap sucessfully
68 pages scrap sucessfully
69 pages scrap sucessfully
70 pages scrap sucessfully
71 pages scrap sucessfully
72 pages scrap sucessfully
73 pages scrap sucessfully
74 pages scrap sucessfully
75 pages scrap sucessfully
76 pages scrap sucessfully
77 pages scrap sucessfully
78 pages scrap sucessfully
79 pages scrap sucessfully
80 pages scrap sucessfully
81 pages scrap sucessfully
82 pages scrap sucessfully
83 pages scrap sucessfully
84 pages scrap sucessfully
85 pages scrap sucessfully
86 pages scrap sucessfully
87 pages scrap sucessfully
88 pages scrap sucessfully
89 pages scrap sucessfully

WebDriverException: Message: disconnected: not connected to DevTools
  (failed to check if window was closed: disconnected: not connected to DevTools)
  (Session info: chrome=129.0.6668.90)
Stacktrace:
	GetHandleVerifier [0x00007FF7004BB095+29557]
	(No symbol) [0x00007FF70042FA50]
	(No symbol) [0x00007FF7002EB56A]
	(No symbol) [0x00007FF7002D2BAC]
	(No symbol) [0x00007FF7002D2A70]
	(No symbol) [0x00007FF7002EDF31]
	(No symbol) [0x00007FF700387E49]
	(No symbol) [0x00007FF700366F33]
	(No symbol) [0x00007FF70033116F]
	(No symbol) [0x00007FF7003322D1]
	GetHandleVerifier [0x00007FF7007EC96D+3378253]
	GetHandleVerifier [0x00007FF700838497+3688311]
	GetHandleVerifier [0x00007FF70082D1CB+3642539]
	GetHandleVerifier [0x00007FF70057A6B6+813462]
	(No symbol) [0x00007FF70043AB5F]
	(No symbol) [0x00007FF700436B74]
	(No symbol) [0x00007FF700436D10]
	(No symbol) [0x00007FF700425C1F]
	BaseThreadInitThunk [0x00007FFD480A257D+29]
	RtlUserThreadStart [0x00007FFD48E0AF08+40]

In [36]:
import pandas as pd
df=pd.DataFrame({'title':title,'price':price,'sold_status':sold_status,'discount_per':discount_per,'province':province})

In [42]:
df.to_csv("R:\\django sipalaye\\shoes.csv",index=False)
print(" saves sucessfully")

 saves sucessfully

In [52]:
df.sample(30)

,title,price,sold_status,discount_per,province
169,Brown Leather Ankle Boots For Men,"Rs. 1,199",724 sold,75% Off,Madhesh Province
32,Black Leather Ankle Boots For Men,Rs. 978,332 sold,80% Off,Madhesh Province
190,Black Leather Classic Ankle Boots For Men,"Rs. 1,234",NaN,73% Off,NaN
326,Coseli Black Color Plain Formal Shoes For Men ...,"Rs. 1,295",48 sold,Gems save Rs. 26,Bagmati Province
249,PUMA Popcat 20 RES Sandals,"Rs. 3,079",5 sold,30% Off,Bagmati Province
97,Converse Cons El Distrito - Ox Black Sneakers ...,"Rs. 1,918",27 sold,62% Off,Bagmati Province
315,PUMA Popcat 20 RES Sandals - 39126203,"Rs. 3,079",6 sold,30% Off,Bagmati Province
237,Vector X Supernova Breathable Lightweight Rubb...,"Rs. 3,600",5 sold,10% Off,Bagmati Province
319,Royal Black Men's Loafer -Fabric Leather,"Rs. 1,680",100 sold,NaN,Koshi Province
216,Loafer Shoes Casual Slip On Shoes For Men (HG80),"Rs. 1,444",26 sold,24% Off,Bagmati Province
180,Vector X Futsal Boots Fizer For Turf Grounds,"Rs. 1,775",225 sold,NaN,Bagmati Province
116,Premium Quality Genuine Leather Zip Ankle Boot...,"Rs. 1,029",56 sold,78% Off,Madhesh Province
236,Middle distance running shoes Men's shoes Juni...,"Rs. 2,702",NaN,80% Off,NaN
250,Brown Back Open Shoes for Men (M46),"Rs. 1,216",NaN,24% Off,NaN
267,Li-Ning Badminton Shoes Saga Lite 6Li-Ning Bad...,"Rs. 8,000",NaN,47% Off,NaN
70,PUMA Robust V2 Men's Shoes - 37997902,"Rs. 5,639",98 sold,44% Off,Bagmati Province
223,Premuim Quality Genuine Leather Chelsea Ankle ...,"Rs. 1,029",8 sold,78% Off,Madhesh Province
33,CLOHOO men's comfortable soft sole slip-on Loa...,"Rs. 3,023",47 sold,68% Off,Overseas
286,New Formal Chocolate Brown Lace Up Shoe For Me...,"Rs. 1,199",7 sold,42% Off,Madhesh Province
357,Bandana Navy Print Premium Fashion Sneakers Fo...,"Rs. 2,179",11 sold,56% Off,Bagmati Province
128,2024 Spring New Men's Shoes Colorful High Top ...,"Rs. 4,109",88 sold,58% Off,Overseas
17,Brown Loafer Clip On Formal Shoes For Men (R588),"Rs. 1,486",94 sold,26% Off,Bagmati Province
76,New Men Shoes Outdoor Leather Casual Sneakers ...,"Rs. 3,452",56 sold,77% Off,Overseas
95,Men Leather Shoes Luxury Designer Slip on Loaf...,"Rs. 2,335",35 sold,73% Off,Overseas
59,Slazenger DK.GREY / GREEN Running Shoes For Me...,"Rs. 1,609",131 sold,65% Off,Bagmati Province
268,Airforce 1 Paris Saint Shoes For Men,"Rs. 1,499",NaN,57% Off,NaN
8,Black Tripal Sole Martain Boots For Men,"Rs. 2,182",12 sold,66% Off,Madhesh Province
166,Men's Casual Shoes Four Seasons Korean Edition...,"Rs. 2,422",18 sold,70% Off,Overseas
314,Leather Men Shoes Luxury Trendy 2024 Casual Sl...,"Rs. 2,336",9 sold,68% Off,Overseas
311,Men Basketball Shoes Breathable Sports Shoes T...,"Rs. 3,602",NaN,78% Off,NaN

In [58]:
df=pd.DataFrame({'title':title,'price':price,'sold_status':sold_status,'discount_per':discount_per,'province':province})
df.to_csv("R:\\django sipalaye\\shoes2.csv",index=False)
print(" saves sucessfully")

 saves sucessfully

In [60]:
df

,title,price,sold_status,discount_per,province
0,Black Genuine Leather Chelsea Ankle Boots for ...,"Rs. 1,249",38 sold,74% Off,Madhesh Province
1,Black Bandana Lightweight Ankle Cut Printed Ca...,Rs. 549,878 sold,1% Off,Bagmati Province
2,2024 New Sports Student Ultra Light Shock Abso...,"Rs. 3,950",78 sold,74% Off,Overseas
3,Summer Breathable Slip-on Baotou Slippers Kore...,"Rs. 2,360",74 sold,31% Off,Bagmati Province
4,SB Dunk Low Pro Retro Sneakers Shoe For Men,"Rs. 1,699",150 sold,NaN,Bagmati Province
...,...,...,...,...,...
3515,NaN,NaN,NaN,NaN,NaN
3516,NaN,NaN,NaN,NaN,NaN
3517,NaN,NaN,NaN,NaN,NaN
3518,NaN,NaN,NaN,NaN,NaN
3519,NaN,NaN,NaN,NaN,NaN

In [62]:
df.head()

,title,price,sold_status,discount_per,province
0,Black Genuine Leather Chelsea Ankle Boots for ...,"Rs. 1,249",38 sold,74% Off,Madhesh Province
1,Black Bandana Lightweight Ankle Cut Printed Ca...,Rs. 549,878 sold,1% Off,Bagmati Province
2,2024 New Sports Student Ultra Light Shock Abso...,"Rs. 3,950",78 sold,74% Off,Overseas
3,Summer Breathable Slip-on Baotou Slippers Kore...,"Rs. 2,360",74 sold,31% Off,Bagmati Province
4,SB Dunk Low Pro Retro Sneakers Shoe For Men,"Rs. 1,699",150 sold,NaN,Bagmati Province